<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Description }}">
    <meta name="author" content="Katherine Allvey">
    <meta name="google-site-verification" content="jsl6YG5NEiRYppUdQesWlZBIO290b_4zs6QLCt_-es8" />

    {{if .IsHome}}
    <title>Home | {{ .Site.Title }}</title>
    {{else}}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{end}}

    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto|Libre+Baskerville" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/site.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117081978-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-117081978-1');
    </script>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js" data-no-instant></script>
    <script type="text/javascript" src="/js/instantclick.min.js" data-no-instant></script>
    <script data-no-instant>
        $(function() {
            InstantClick.on('change', function() {
                if (typeof ga === "function") {
                    ga('send', 'pageview', location.pathname + location.search);
                }
                adjustSidebar();
                $("#wrapper-sidebar").addClass("transitions");
                $(window).resize(adjustSidebar);
            });

            $(document).on('click', 'a#toggle-menu', toggleSidebar);
            $(document).on('click', '#wrapper-main', collapseSidebar);

            InstantClick.init();

            function collapseSidebar() {
                if (!$("#wrapper-sidebar").hasClass("collapsed")) {
                    if ($(window).width() <= 600) {
                        $("#wrapper-sidebar").addClass("collapsed");
                        $("#wrapper-main").addClass("collapsed");
                    }
                }
            }

            function toggleSidebar() {
                $("#wrapper-sidebar").removeClass("initial-state");
                $("#wrapper-sidebar").toggleClass("collapsed");
                $("#wrapper-main").toggleClass("collapsed");
            }

            function adjustSidebar() {
                if ($(window).width() <= 600) {
                    $("#wrapper-sidebar").addClass("collapsed");
                    $("#wrapper-main").addClass("collapsed");
                } else {
                    $("#wrapper-sidebar").removeClass("initial-state");
                    $("#wrapper-sidebar").removeClass("collapsed");
                    $("#wrapper-main").removeClass("collapsed");
                }
            }
        });
    </script>

</head>
<body>
<div id="wrapper-sidebar" class="initial-state">
    <a href="#" id="toggle-menu" data-no-instant><i class="fas fa-bars"></i></a>

    <div class="logo">
        <h1 class="wide-text">Life in the UK<br>Tutoring</h1>
    </div>

    <ul class="social-media wide-text">
        <li>
            <a href="https://twitter.com/lituktutoring" rel="external"><i class="fab fa-twitter"></i></a>
        </li>
    </ul>

    <ul class="menu">
        <li><a href="/"><i class="fas fa-fw fa-home"></i> <span class="wide-text">Home</span></a></li>
        <li><a href="/about"><i class="fas fa-fw fa-graduation-cap"></i> <span class="wide-text">About Us</span></a></li>
        <li><a href="/rates"><i class="fas fa-fw fa-pound-sign"></i> <span class="wide-text">Tutoring Rates &amp; Availability</span></a></li>
        <li><a href="/book"><i class="fas fa-fw fa-pencil-alt"></i> <span class="wide-text">Book a Lesson</span></a></li>
        <li><a href="/faq"><i class="fas fa-fw fa-question"></i> <span class="wide-text">Frequently Asked Questions</span></a></li>
        <li><a href="/practice-tests"><i class="fas fa-fw fa-file-alt"></i> <span class="wide-text">Practice Tests</span></a></li>
        <li><a href="/blog"><i class="fas fa-fw fa-rss"></i> <span class="wide-text">Blog</span></a></li>
    </ul>
</div>
<div id="wrapper-main">
